.getStartedContainer{
    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 50px;
}
.logo_image {
  height: 70px;
  object-fit: contain;
  object-position: left;
}
.getStartedContainerText{
    font-size: 30px;
     font-weight: bold;
}
.getStartedContainerBox{
    display: flex;
      align-items: center;
    justify-content: center;
    gap: 250px;
}
.getStartedContainerBox div{
    width: 35vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    line-height: 50px;
    box-shadow: 2px 2px 2px 2px rgb(233, 229, 229);
    gap: 50px;
}
.handler{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.getStartedName{
    font-size: 20px;
}
.getStartedContainerbtn{
    display: flex;
    justify-content: center;
}
.getStartedContainer button{
    width: 200px;
}
.getStartedicon1{
    font-size: 40px;
}