.forgotPasswordLogo{
    padding-left: 100px;
}


.forgotPaswwordContainer{
    display: flex;
    gap: 15px;
    justify-content: space-between;
     padding: 100px;
}

.forgotPasswordHolder{
    width: 40%;
   justify-content: center;
      display: flex;
    flex-direction: column;
    gap: 40px;
}


.forgotPasswordButton{
    display: flex;
}
.forgotPasswordButton p{
    display: flex;
    align-items: center;
}


.forgotPasswordAssurance{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;
    
}
.forgotPasswordText{
    font-size: 25px;
    font-weight: bold;
}
.forgotPasswordLink{
    color: gray;
}


.passwordEmail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
}
.passwordEmail label{
    text-align: start;
}
.passwordEmail input{
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
    padding: 13px;
}
.passwordEmail button{
background: #330159;
color: white;
}
.forgotPasswordImage{
  background: #FAF5FF;
height: 70vh;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
