.forgotPasswordLogo{
    padding-left: 100px;
    padding-top: 10px;
   
    
}


.forgotPaswwordContainer{
    display: flex;
    gap: 50px;
    /* justify-content: center; */
     padding: 10px 120px 10px 120px;
}

.forgotPasswordHolder{
   justify-content: center;
      display: flex;
    flex-direction: column;
    gap: 40px;
    width: 542.5px;
height: 524px;
padding: 10px 50px 10px 50px;
line-height: 30px;
}


.forgotPasswordButton{
    display: flex;
    gap: 10px;
}
.forgotPasswordButton Button{
    background: transparent;
    border: 1px solid black;
    width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotPasswordButton p{
    display: flex;
    align-items: center;
}


.forgotPasswordAssurance{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;
    
}
.forgotPasswordText{
    font-size: 24px;
    font-weight: bold;
}
.forgotPasswordLink{
    color: gray;
    /* font-family: Plus Jakarta Sans; */

}
.passwordEmailWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.passwordEmail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    
}
.passwordEmail label{
    text-align: start;
}
.passwordEmail input{
    height: 60px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
    padding: 13px;
}
.passwordEmail Button{
background: #330159;
color: white;
height: 60px;
}
.passwordEmail Button:hover{
    background: white;
    border: 1px solid #330159;
    color: black;
}
.forgotPasswordImage{
  background: #FAF5FF;
height: 512px;
width: 542.5px;
border-radius: 16px;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width: 480px) {
    .forgotPasswordLogo{
        padding-left: 0px;
    }
    .forgotPaswwordContainer{
        padding: 0px;
    }
    .forgotPasswordImage{
        display: none;
    }
    .forgotPasswordHolder{
       padding: 20px;
    }
}