
.vl-page {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
}


.vl-left {
  flex: 0 0 50%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #ffffff;
}


.vl-form-container {
  width: 100%;
  max-width: 420px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.vl-logo {
  margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
.vl-logo-text{
  font-size: 20px;
  font-weight: 700;
  padding-top: 8px;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

.vl-logo img {
  height: 40px;
}

.vl-title {
  font-size: 28px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.vl-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #330159;
  margin-bottom: 32px;
}


.vl-field-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.vl-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.vl-input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.vl-input:focus {
  border-color: var(--primary-color);
}

.vl-input--error {
  border-color: #ff4d4f;
}

.vl-password-wrap {
  position: relative;
  width: 100%;
}

.vl-eye-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
}


.vl-role-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.vl-roles {
  display: flex;
  gap: 20px;
}

.vl-role-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.vl-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.vl-role-label {
  font-size: 14px;
  color: #444;
}

.vl-forgot {
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}
.vl-checkbox {

  accent-color: #000; 
  
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.vl-login-btn {
  width: 100%;
  height: 52px;
  background-color:var(--primary-color); ;
  color: white;
  border: none;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}

.vl-login-btn:hover {
  opacity: 0.9;
}


.vl-register-text {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
  color: #666;
}

.vl-register-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

.vl-error-text {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}


.vl-right {
  flex: 1;
  max-width: 500px;     
  height: auto;
  object-fit: contain;
  align-self: center;  
}


@media (max-width: 768px) {
  .vl-right {
    display: none;
  }
  .vl-left {
    flex: 0 0 100%;
    padding: 24px;
  }
}