.resetPasswordBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resetPasswordLogo{
    padding-left: 100px;
}


.resetPaswwordContainer{
    display: flex;
    gap: 15px;
    justify-content: space-between;
     padding: 0px 100px 0px 100px;
}

.resetPasswordHolder{
    width: 40%;
      display: flex;
    flex-direction: column;
    gap: 20px;
}


.resetPasswordButton{
    display: flex;
    padding-left: 100px;
}
.resetPasswordButton p{
    display: flex;
    align-items: center;
}


.resetPasswordAssurance{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;
    
}
.resetPasswordText{
    font-size: 25px;
    font-weight: bold;
}
.resetPasswordLink{
    color: gray;
}


.resetpasswordEmail{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.resetpasswordEmail label{
    text-align: start;
    /* font-weight: bold; */
}
.resetpasswordEmail input{
    height: 55px;
    border-radius: 5px;
    border: 1px solid rgb(187, 177, 177);
    font-size: 15px;
    padding: 13px;
    outline: none;
}
.resetpasswordEmail div{
    border: 1px solid rgb(226, 218, 218);
    border-radius: 5px;
     padding: 2px;
}
.resetpasswordEmail div input{
      width: 95%;
      border: none;
      outline: none;
}
.resetpasswordEmail button{
background: #330159;
color: white;
}
.resetforgotPasswordImage{
  /* background: #FAF5FF; */
height: 70vh;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width: 480px) {
    .imageHolder{
        display: none;
    }
    .resetPasswordLogo{
    padding-left: 10px;
}
.resetPasswordText{
    font-size: 15px;
    font-weight: bold;
}
.resetPaswwordContainer{
     padding: 0px 10px 0px 10px;
}
.resetPasswordButton{
     padding-left: 10px;
}
.resetPasswordLink{
    font-size: 15px;
}
.resetpasswordEmail{
    /* background: red; */
    width: 100vw;
    padding-left: 0px;

}
.resetpasswordEmail div{
    padding: 0px;
}
.resetpasswordEmail div input{
    width: 90%;
}
.resetPasswordLink{
    width: 100vw;
}
}