.resetPasswordBox{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.resetPasswordLogo{
    padding-left: 100px;
    padding-top: 10px;
}

.resetPaswwordContainer{
    display: flex;
    gap: 100px;
    align-items: center;
     padding: 0px 100px 0px 100px;
}

.resetPasswordHolder{
     width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resetPasswordButton{
    display: flex;
    padding-left: 100px;
    gap: 10px;
}
.resetPasswordButton Button{
    background: transparent;
    border: 1px solid black;
    height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
    width: 40px;
}

.resetPasswordButton p{
    display: flex;
    align-items: center;
}

.resetPasswordAssurance{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;   
}

.resetPasswordText{
    font-size: 25px;
    font-weight: bold;
}

.resetPasswordLink{
    color: gray;
} 
 
.resetpasswordEmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
} 

.resetpasswordEmail label{
    text-align: start;
}

.resetpasswordEmail input{
   
    border-radius: 5px;
    border: 1px solid rgb(187, 177, 177);
    font-size: 15px;
    padding: 13px;
    outline: none;
}

.resetpasswordEmail div{
    border: 1px solid rgb(226, 218, 218);
    border-radius: 5px;
     padding: 2px;
}

.resetpasswordEmail div input{
      width: 95%;
      border: none;
      outline: none;
}

.resetpasswordEmail Button{
background: #330159;
color: white;
height: 60px;
}
.resetpasswordEmail Button:hover{
    background: white;
    border: 1px solid #330159;
    color: black;
}

.resetforgotPasswordImage{
/* height: 50vh; */
border-radius: 10px;
display: flex;
/* justify-content: center; */
align-items: center;
}

@media (max-width: 480px){
.resetPasswordLogo{
    padding-left: 0px;
}
.resetPaswwordContainer{
    padding: 0px;
    gap: 0px;
}
.resetPasswordButton{
    padding-left: 10px;
}
.resetPasswordHolder{
    padding: 20px;
    width: 100%;
}
.resetpasswordEmail div{
    display: flex;
    align-items: center;
}

.imageHolder{
    display: none;
}

}