.service-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.overlayer {
  background-image: url(../../../public/About/show.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.servicesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  gap: 30px;
  background: rgba(50, 28, 54, 0.55);
}
.service{
display: flex;
flex-direction: column;
gap: 50px;
}
.serviceContainerTitle {
  font-size: 48px;
  font-weight: bold;
}
.serviceDeliver {
  line-height: 30px;
  font-size: 18px;
}
.servicesContainer p {
  text-align: center;
  /* line-height: 25px; */
}
.serviceRate {
  display: flex;
  gap: 30px;
  background: transparent;
}
.serviceCategory {
  box-shadow: 0px 1px 0px 0px gainsboro;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}
.servicePage {
  display: flex;
  gap: 100px;
  flex-direction: column;
}
.serviceQuote {
  font-size: 30px;
  padding-left: 100px;
  font-weight: bold;
}
.serviceBooking {
  display: flex;
  gap: 127px;
  padding-left: 100px;
}
.serviceBookingLeft {
  display: flex;
  gap: 150px;
  padding-left: 100px;
}
.serviceBooking img {
width: 470px;
height: 396px;
  border-radius: 10px;
  object-fit: cover;
}
.serviceBookingLeft img {
  width: 470px;
height: 396px;
  border-radius: 10px;
  object-fit: cover;
}
.serviceName {
  font-size: 18px;
  font-weight: 500px;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 25px;
  padding: 20px;
}

.serviceEntertainment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 25px;
  gap: 30px;
}
.serviceCoperateHolder{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.serviceCoperate {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.serviceBrandWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 40px;
}

.serviceBrand{
  line-height: 35px;
  font-size: 18px;
}
.servicebtn{
  background:  #330159;
  width: 180px;
  height: 50px;
  color: white;
}
.servicebtn:hover{
  background: transparent;
  color: black;
  border: 1px solid black;
}
@media (max-width: 480px) {
  .overlayer {
    background-position: center;
    object-fit: cover;
    background-size: cover;
  }

  .serviceContainerTitle {
    font-size: 20px;
    font-weight: bold;
  }
  .serviceBooking {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    padding: 5px;
    gap: 5px;
  }
  .serviceBookingLeft {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 5px;
    gap: 5px;
  }
  .serviceBooking img {
    width: 95%;
    object-fit: cover;
     object-position: center;
  }
  .serviceBookingLeft img {
    width: 90%;
     object-fit: cover;
     object-position: center;
  }
  .serviceName {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .serviceHolder {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .serviceInfo{
    font-size: 15px;
  }
  
.serviceBrand{
  padding: 30px;
  font-size: 15px;
}
.serviceDeliver{
  font-size: 15px;
}
}
