*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter,sans-serif;
}
:root{

 --primary-color: #330159;
  --secondary-color: #c64a0c;
  --background-color: #F0F0F0;
  --text-color: #0F0F10
}
